#image {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-height: 500px;
    min-width: 400px;
    object-fit: cover;
    object-position: center 70%;
}

.labelimg {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
}